body {
    background-color: yellow;
}
a, li, ul, ol, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.js-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    color: black;
    text-align: center;
}
.lesson-number {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: black;
    text-align: center;
}
.lesson-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.lesson-box__title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;
    text-align: center;
}
.lesson-group {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}
.lesson-group__number {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: black;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20%;
    transition: all 0.3s ease-in-out;
}
.lesson-group__number:hover {
    background-color: black;
    color: yellow;
    transform: scale(1.2);
}
.lesson-group__number--active {
    background-color: black;
    color: yellow;
    transform: scale(1.2);
}
.newgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.newgallery li {
    width: 500px;
    height: auto;
    border-radius: 10px;
    border: 2px black;
}
.newgallery img {
    display: block;
    width: 100%;
    height: 100%;
}
.title-style {
    color: red;
}
.visit {
    display: none;
}

/* Modal */

body.show-modal .backdrop__modal {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}
body.show-modal .modal {
    transform: scale(1);
}
.backdrop__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
.show-modal {
    visibility: visible; 
    opacity: 1;
    pointer-events: all;
}
.modal {
    padding: 24px;
    border-radius: 4px;
    max-width: 640px;
    width: 100%;
    min-height: 320px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

/* 4ex HW */

#validation-input {
    border: 3px solid #bdbdbd;
}
#validation-input.valid {
    border-color: #4caf50;
}
#validation-input.invalid {
    border-color: #f44336;
}

#box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
#box2 {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#new-game_btn:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.block {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 238, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}  

.gallery {
    display: flex;
    overflow-x: auto;
}
.image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    cursor: pointer;
}
.full-image-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.full-image {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#controls {
    margin-bottom: 20px;
}  
#boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}  
#boxes div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
}