body {
    background-color: yellow;
}
a, li, ul, ol, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.js-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    color: black;
    text-align: center;
}
.lesson-number {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: black;
    text-align: center;
}
.lesson-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.lesson-box__title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;
    text-align: center;
}
.lesson-group {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}
.lesson-group__number {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: black;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20%;
    transition: all 0.3s ease-in-out;
}
.lesson-group__number:hover {
    background-color: black;
    color: yellow;
    transform: scale(1.2);
}
.lesson-group__number--active {
    background-color: black;
    color: yellow;
    transform: scale(1.2);
}